---
import Head from "@/components/layout/Head.astro";
import type { HeadProps } from "@/types";
import "@/styles/global.css";
import Umami from "@/components/analytics/Umami.astro";
import site from "@/config/site";

type Props = HeadProps;

const head = Astro.props;
---

<html lang={site.meta.lang}>
  <Head {...head} />
  <body
    class="min-h-screen bg-background font-display text-foreground antialiased selection:bg-primary/20"
  >
    <slot />

    <Umami />
  </body>
</html>
